mux-player {
    --media-object-fit: contain;
    --controls-backdrop-color: rgb(0, 0, 0, 0.25);
    --seek-backward-button: none;
    --seek-forward-button: none;
}

mux-player::part(range):hover {
    background-color: #333333;
}

mux-player::part(time):hover {
    background-color: #333333;
}

mux-player::part(display) {
    color: rgba(255, 255, 255, 1);
}

mux-player::part(playback-rate) {
    background-color: #333333;
    color: rgba(255, 255, 255, 1);
}

mux-player::part(button) {
    margin-inline: 4px;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    background-color: transparent;
}

mux-player::part(button):hover {
    background-color: #333333;
}

mux-player::part(center play button) {
    background-color: #41cfc9;
    border-radius: 50%;
    stroke: rgba(255, 255, 255, 1);
}

mux-player::part(center play button):hover {
    background-color: #66eae5;
}

@media(max-width:1024px){
    mux-player::part(center play button) {
        width: 64px;
        height: 64px;
        padding: 16px;
        padding-left: 20px;
    }
}