.index__clip__diagonal{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.end__pattern{
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  background-image: linear-gradient(
      103.5deg, 
      rgba(65, 207, 201, 0.4) 25%,
      transparent 25%,
      transparent 29.6875%,
      rgba(65, 207, 201, 0.4) 29.6875%,
      rgba(65, 207, 201, 0.4) 42.1875%,
      transparent 42.1875%,
      transparent 46.875%,
      rgba(65, 207, 201, 0.4) 46.875%,
      rgba(65, 207, 201, 0.4)
  );
  background-size: 128px 80px;
}

.blocked__end__pattern{
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: linear-gradient(
        103.5deg, 
        rgba(51, 51, 51, 0.4) 25%,
        transparent 25%,
        transparent 29.6875%,
        rgba(51, 51, 51, 0.4) 29.6875%,
        rgba(51, 51, 51, 0.4) 42.1875%,
        transparent 42.1875%,
        transparent 46.875%,
        rgba(51, 51, 51, 0.4) 46.875%,
        rgba(51, 51, 51, 0.4)
    );
    background-size: 128px 80px;
}