.sidebar{
    padding-top: calc(0.5rem + env(safe-area-inset-top));
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.sidebar__links{
    padding-bottom: calc(env(safe-area-inset-bottom));
}

.sidebar__search{
    height: calc(4rem + env(safe-area-inset-top));
}