.sidebar{
    padding-top: calc(1.5rem + env(safe-area-inset-top));
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar__links{
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
}