.clip__diagonal{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 100%;
    }
}

.progressbar__pattern {
    background-image: linear-gradient(
        135deg,
        #bbfffc,
        #00FFCC 20%,
        #4fffdc 40%,
        #00FFCC 60%,
        #bbfffc 80%,
        #00FFCC
        /* #bbfffc,
        #41cfc9 20%,
        #66eae5 40%,
        #41cfc9 60%,
        #bbfffc 80%,
        #41cfc9 */
    );
    background-size: 300% 300%;
    animation: moveBackground 5s ease-in-out infinite;
}